<div data-role="view" 
     data-layout="defaultLayout" 
     id="mapExplorerView" 
     class="appView" 
     data-model="app.MapExplorerViewModel" 
     data-init="app.MapExplorerViewModel.init" 
     data-show="app.MapExplorerViewModel.show"
     data-stretch="true">
    <div class="mapContent" id="googleMapView">
        
    </div>

    <div id="mapInfoWindowContent" style="display:none">
        <div>
            <span data-bind="text: cityName"></span>
            <div data-bind="{click: sendRequest}">
                <span>Send</span>
            </div>
        </div>
    </div>

</div>

