<div data-role="view" 
     data-layout="defaultLayout"
     id="notificationWindow" 
     class="appView"
     data-model="app.NotificationWindowViewModel"
     data-init="app.NotificationWindowViewModel.init" 
     data-show="app.NotificationWindowViewModel.show"
     data-stretch="true">
    
    <div class="mapContent" id="googleMapView">
    </div>
    
    <div class="image">
        
        <div id="progress" data-bind="visible: isProgressVisible">
            <span data-bind="text: progressText"></span>
        </div>
        
        <div class="message">
            <span data-bind="text: activeNotification.payload.message.Message"></span>
        </div>
    
        <div class="buttons">
            <a href="#" id="replyButton" class="button" data-bind="click: reply">Reply</a>
            <a href="#" id="dismissButton" class="button" data-bind="click: dismiss">Dismiss</a>
        </div>

    </div>
    
</div>
