<div data-role="view" data-layout="defaultLayout" id="notificationWindow" class="appView2" data-model="app.NotificationWindowViewModel" data-init="app.NotificationWindowViewModel.init" data-show="app.NotificationWindowViewModel.show" data-stretch="true">
    <div style="display:none">
            
            
    </div>
  <div class="headerView">
        <span data-bind="text: activeNotification.message.Message"></span>
    </div>
    <div class="container3">
        <div class="map3">
            <div id="googleMapViewImage" style="height:100%">
            </div>
        </div>
        <div class="image3">
            <div class="">
                <img src="" class="image2" id="image" style="display: none; width:100%; height:100%"/>
                <div class="image-div">
                    <div id="progress" data-bind="visible: isProgressVisible">
                        <span data-bind="text: progressText"></span>
                    </div>
                    <div class="buttons">
                        <a href="#" id="replyButton" class="button" data-bind="click: reply"></a>
                        <a href="#" id="dismissButton" class="button" data-bind="click: dismiss"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
