body {
    background: url('images/background.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: rgb(255, 232, 165);
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(205, 68, 0);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(238, 163, 126);
}
.km-flat .appView,
.km-flat .km-content {
    background-color: transparent;
}
.splashScreen {
    background: url('images/splash.png');
    background-size: cover;
}
.mapContent {
    background-color: white;
    margin-top: 50px;
}
.notification-icon {
    background: url('images/notification.png') no-repeat;
    width: 60px;
    height: 60px;
    background-size: 100%;
}
.badge-container {
    display: inline-block;
    position: relative;
}
.badge-counter {
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    border-radius: 9999px;
    color: white;
    background-color: red;
    position: absolute;
    z-index: 99999;
    right: 0;
    display: inline-block;
    top: 0;
}
.notification-container {
    top: 90px;
    right: 0;
    margin-right: 10px;
    z-index: 9999;
    position: absolute;
    text-align: right;
    width: 60px;
}
.notification-list-container {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 30px;
    background: #fab418;
    width: 290px;
    max-height: 300px;
    z-index: 9999;
    color: white;
    top: 90px;
    z-index: 9999;
    position: absolute;
    right: 10px;
    overflow: hidden;
    padding-right: 55px;
}
.notification-list-container .km-touch-scrollbar.km-vertical-scrollbar {
    background: white;
}
.km-flat .km-list>li {
    background: #fab418;
}
#notificationList {
    margin: 8px;
}
#notificationList li {
    border: none;
}
.popupbackground {
    background: url('images/popupback.png');
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.popupbackground .popup {
    top: 50%;
    position: relative;
    height: 100px;
    margin-top: -50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: url('images/notificationCorner.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 26px;
}
.popup .sendButton {
    background: url('images/notification.png');
    width: 50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    right: 60px;
    bottom: 0;
    margin-bottom: -29px;
}
.popup .cancelButton {
    background: url('images/notificationBack.png');
    width: 30px;
    height: 38px;
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 5px;
}
.popup .cityName {
    color: #af6639;
}
.headerView {
    position: ABSOLUTE;
    top: 10px;
}
.headerView span {
    background: url('images/camera.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 50px;
    font-size: 20px;
    color: white;
    padding-left: 38px;
    margin: 5px;
}
#notificationWindow {
    background: #111111;
    display: block;
}
#notificationWindow > div.km-content {
    height: 100%;
}
#notificationWindow #progress {
    background: rgba(100, 100, 100, 0.7);
    color: #fafafa;
    width: 180px;
    padding: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    text-align: center;
}
#notificationWindow .image {
    max-height: 240px;
    width: auto;
    display: inline-block;
}
#notificationWindow .message {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(100, 100, 100, 0.4);
    color: #eeeeee;
    padding: 12px 8px;
}
#notificationWindow .buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 16px;
}
#notificationWindow .buttons .button {
    width: 100px;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: #fafafa;
}
#replyButton {
    background: url('images/notification.png');
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: contain;
    margin-right: 4px;
}
#dismissButton {
    background: url('images/cancelRequest.png');
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: contain;
    margin-left: 4px;
}
.cancelNotification {
    background: url('images/closeNotification.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    float: right;
}
.notificationContent {
    display: inline-block;
    width: 175px;
}
.image-div {
    background: transparent;
}
.img-container {
    position: relative;
    display: block;
    top: 240px;
    text-align: center;
}
.map-content-img {
    background-color: white;
    margin-top: 30px;
    position: inherit !important;
}

.container3{
    position: absolute;
    top:50px;
    left:0;
    right:0;
    bottom:0;
}

.map3{
    position: absolute;
    bottom: 70%;
    top: 0;
    left: 0;
    right: 0;
}

.image3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 30%;
   	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;

}